.btn {
  width: 80px;
  height: 30px;

  @include mobile {
    width: 200px;
    height: 80px;
  }
  @include tablet {
    width: 270px;
    height: 100px;
  }
  background: $blue;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: lighten($blue, 10%);;
  }
}
