.contacts {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #D3B47F;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  &-wrapper {
    padding-top: 15px;
  }
}
