$textWhite: #FFFFFF;
$textBlack: #000000;
$textBody: #808080;
$textContacts: #2E2E2E;
$blue: #3A4574;

@mixin mobile {
  @media (min-width: 576px) {
    @content
  }
}

@mixin tablet  {
  @media (min-width: 768px) {
    @content
  }
}

@mixin desktop  {
  @media  (min-width: 1024px) {
    @content
  }
}

